@font-face {
  font-family: 'Quadrunde';
  font-display: auto;
  src: url('fonts/subset-Quadrunde.eot');
  src: url('fonts/subset-Quadrunde.eot?#iefix') format('embedded-opentype'),
    url('fonts/subset-Quadrunde.woff2') format('woff2'),
    url('fonts/subset-Quadrunde.woff') format('woff'),
    url('fonts/subset-Quadrunde.ttf') format('truetype'),
    url('fonts/subset-Quadrunde.svg#Quadrunde') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-display: auto;
  src: url('fonts/subset-RobotoCondensed-BoldItalic.eot');
  src: url('fonts/subset-RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/subset-RobotoCondensed-BoldItalic.woff2') format('woff2'),
      url('fonts/subset-RobotoCondensed-BoldItalic.woff') format('woff'),
      url('fonts/subset-RobotoCondensed-BoldItalic.ttf') format('truetype'),
      url('fonts/subset-RobotoCondensed-BoldItalic.svg#RobotoCondensed-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-display: auto;
  src: url('fonts/subset-RobotoCondensed-Italic.eot');
  src: url('fonts/subset-RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
      url('fonts/subset-RobotoCondensed-Italic.woff2') format('woff2'),
      url('fonts/subset-RobotoCondensed-Italic.woff') format('woff'),
      url('fonts/subset-RobotoCondensed-Italic.ttf') format('truetype'),
      url('fonts/subset-RobotoCondensed-Italic.svg#RobotoCondensed-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-display: auto;
  src: url('fonts/subset-RobotoCondensed-LightItalic.eot');
  src: url('fonts/subset-RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/subset-RobotoCondensed-LightItalic.woff2') format('woff2'),
      url('fonts/subset-RobotoCondensed-LightItalic.woff') format('woff'),
      url('fonts/subset-RobotoCondensed-LightItalic.ttf') format('truetype'),
      url('fonts/subset-RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-display: auto;
  src: url('fonts/subset-RobotoCondensed-Light.eot');
  src: url('fonts/subset-RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/subset-RobotoCondensed-Light.woff2') format('woff2'),
      url('fonts/subset-RobotoCondensed-Light.woff') format('woff'),
      url('fonts/subset-RobotoCondensed-Light.ttf') format('truetype'),
      url('fonts/subset-RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-display: auto;
  src: url('fonts/subset-RobotoCondensed-Regular.eot');
  src: url('fonts/subset-RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/subset-RobotoCondensed-Regular.woff2') format('woff2'),
      url('fonts/subset-RobotoCondensed-Regular.woff') format('woff'),
      url('fonts/subset-RobotoCondensed-Regular.ttf') format('truetype'),
      url('fonts/subset-RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-display: auto;
  src: url('fonts/subset-RobotoCondensed-Bold.eot');
  src: url('fonts/subset-RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/subset-RobotoCondensed-Bold.woff2') format('woff2'),
      url('fonts/subset-RobotoCondensed-Bold.woff') format('woff'),
      url('fonts/subset-RobotoCondensed-Bold.ttf') format('truetype'),
      url('fonts/subset-RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

