:root {
  --text-color: #bababa;        // Common not black text color
  --primary-color: #991111;       // The primary red color
  --hover-color: #8b0000;         // Primary with hover
  --bg-color: #f7f7f7;            // Sections background
  --bg-color-highlight: #EBEBEB;   // Sections background highlight
  --darker-grey: #32383D;         // For the footer background
  --menu-dark: #3B4249;           // For the small dark menu
}

